<div class="col-xs-12 col-sm-6 col-lg-4 pt-2">
    <div class="card text-center">
      <div class="card-head text-center">
        <h5 class="card-title text-center testScore">{{ .name }}</h5>
      </div>
      <div class="card-body">
        {{ range .detail }}
        {{ if .score }}
        <p class="card-text text-center">{{ .testSection }}: <span>{{ .score }}</span> / <span>{{ .outOf }}</span></p>
        {{ else }}
        <p class="card-text text-center">&nbsp;</p>
        {{ end }}
        {{ end }}
      </div>
    </div>
</div>
