<div class="col-sm-12 col-md-6 pt-2">
  <!-- <a class="skill-card-link" href="{{ if .url }}{{ .url }}{{ else }}javascript:void(0){{ end }}" target="_blank" rel="noopener noreferrer"> -->
    <div class="card text-center">
      <div class="card-head d-flex">
        {{ if .logo }}
         
          <img class="card-img-xs" src="{{ .logo }}" alt="{{ .name }}" />

        {{ end }}
        <h5 class="card-title">{{ .name }}</h5>
      </div>
      <!-- <div class="card-body">
        <p class="card-text">{{ .summary | markdownify }}</p>
      </div> -->
    </div>
  </a>
</div>
