{{ $sectionID := replace (lower .section.name) " " "-"  }}
{{ if .section.id }}
  {{ $sectionID = .section.id }}
{{ end }}

<div class="container-fluid anchor pb-5 education-section" id="{{ $sectionID }}">
  {{ if not (.section.hideTitle) }}
  <h1 class="text-center">{{ .section.name }}</h1>
  {{ end }}

  <div class="container">
    <section id="portfolio">
      <div class="projectRow projects">
        <div class="twelve columns collapsed">
          <!-- <h1>Check Out Some of My Works.</h1> -->
          <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">
            {{ range .projects}}
            <div class="article-wrapper">
              <article class="col-12 col-12-xsmall work-item">
                {{ if .projectImage }}
                {{ $projectImage := resources.Get .projectImage}}
                <a href="{{ .sourceUrl }}" class="image fit thumb" target="_blank" rel="noopener noreferrer"><img src="{{ $projectImage.RelPermalink }}" alt="{{ .title }}" /></a>
                {{ end }}
                <div class="art-description">
                  <div class="text-wrapper">
                    <h4 class="text-center">{{ .title }}</h4>
                    <p>{{ .description }}</p>
                  </div>
                  <ul class="actions">
                    <div class="actions-wrapper justify-content-center">
                      <li><a href="{{ .demoUrl }}" class="button project-button" target="_blank" rel="noopener noreferrer">View Demo</a></li>
                      <li><a href="{{ .sourceUrl }}" class="button project-button brands" target="_blank" rel="noopener noreferrer"><i class="fab fa-github icon"></i>View Source</a></li>
                    </div>
                    <!-- <div class="languages">
                      <i class="devicon-rails-plain-wordmark technology"></i>
                      <i class="devicon-react-plain-wordmark technology"></i>
                    </div> -->
                  </ul>
                </div>
              </article>
            </div>
            {{ end }}
            
            <div class="portfolioRow row justify-content-center">
              <!-- <div class="col"> -->
                <div class="projects-button col align-items-center"><a href="https://github.com/mihir-m-gandhi" class="button portfolio-button" target="_blank" rel="noopener noreferrer">View All Projects</a></li>
              <!-- </div> -->
              <!-- <ul class="actions">
                <li class="wide-button"><a href="https://github.com/mihir-m-gandhi" class="button portfolio-button" target="_blank" rel="noopener noreferrer">View All Projects</a></li>
              </ul> -->
            </div>
          </div>
      </div>
    </div>
    </section>
  </div>
</div>
<!-- 
<div class="container-fluid anchor pb-5 projects-section" id="{{ $sectionID }}">
  <section id="portfolio">
    <div class="projectRow projects">
      <div class="twelve columns collapsed">
        <h1>Check Out Some of My Works.</h1>
        <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">
          <div class="article-wrapper">
            <article class="col-12 col-12-xsmall work-item">
              <a href="https://github.com/rammazzoti2000/final-capstone" class="image fit thumb" target="_blank" rel="noopener noreferrer"><img src="images/thumbs/06.png" alt="final-capstone" /></a>
              <div class="art-description">
                <div class="text-wrapper">
                  <h3>Power Tracker WebApp</h3>
                  <p>App that tracks domestic power consumption. It can register measurements across rooms in the house. The measurements will be accessible in a separate page and will represent useful information on total power consuming, the available units left and what has been saved in percentages.</p>
                </div>
                <ul class="actions">
                  <div class="actions-wrapper">
                    <li><a href="https://final-capstonejx.herokuapp.com/" class="button project-button" target="_blank" rel="noopener noreferrer">View Demo</a></li>
                    <li><a href="https://github.com/rammazzoti2000/final-capstone" class="button project-button brands" target="_blank" rel="noopener noreferrer"><i class="fa fa-github icon"></i>View Source</a></li>
                  </div>
                  <div class="languages">
                    <i class="devicon-rails-plain-wordmark technology"></i>
                    <i class="devicon-react-plain-wordmark technology"></i>
                  </div>
                </ul>
              </div>
            </article>
          </div> -->
          <!-- <div class="article-wrapper">
            <article class="col-12 col-12-xsmall work-item">
              <a href="https://github.com/rammazzoti2000/pic-some-react" class="image fit thumb" target="_blank" rel="noopener noreferrer"><img src="images/thumbs/08.png" alt="pic-some" /></a>
              <div class="art-description">
                <div class="text-wrapper">
                  <h3>PicSome WebApp</h3>
                  <p>A small mock e-commerce website. The idea is for someone to visit the website, look at the images available and choose some of them to have them, theoretically, printed and shipped.</p>
                </div>
                <ul class="actions">
                  <div class="actions-wrapper">
                    <li><a href="https://pic-somejsx.herokuapp.com/" class="button project-button" target="_blank" rel="noopener noreferrer">View Demo</a></li>
                    <li><a href="https://github.com/rammazzoti2000/pic-some-react" class="button project-button brands" target="_blank" rel="noopener noreferrer"><i class="fa fa-github icon"></i>View Source</a></li>
                  </div>
                  <div class="languages">
                    <i class="devicon-react-plain-wordmark technology"></i>
                  </div>
                </ul>
              </div>
            </article>
          </div>
          <div class="article-wrapper">
            <article class="col-12 col-12-xsmall work-item">
              <a href="https://github.com/rammazzoti2000/react_capstone" class="image fit thumb" target="_blank" rel="noopener noreferrer"><img src="images/thumbs/07.png" alt="react-capstone" /></a>
              <div class="art-description">
                <div class="text-wrapper">
                  <h3>Pokemon Catalog</h3>
                  <p>React capstone based on a catalog of statistics that is a browsable list of items and can be filtered and accessed the details of one item.</p>
                </div>
                <ul class="actions">
                  <div class="actions-wrapper">
                    <li><a href="https://react-capstonejsx.herokuapp.com/" class="button project-button" target="_blank" rel="noopener noreferrer">View Demo</a></li>
                    <li><a href="https://github.com/rammazzoti2000/react_capstone" class="button project-button brands" target="_blank" rel="noopener noreferrer"><i class="fa fa-github icon"></i>View Source</a></li>
                  </div>
                  <div class="languages">
                    <i class="devicon-react-plain-wordmark technology"></i>
                  </div>
                </ul>
              </div>
            </article>
          </div>
          <div class="article-wrapper">
            <article class="col-12 col-12-xsmall work-item">
              <a href="https://github.com/rammazzoti2000/js_capstone_rpg" class="image fit thumb" target="_blank" rel="noopener noreferrer"><img src="images/thumbs/09.png" alt="js-capstone" /></a>
              <div class="art-description">
                <div class="text-wrapper">
                  <h3>Final Warrior</h3>
                  <p>An RPG game mainly focused on collecting as many chests as possible while having to combat against monsters (watch ouf for covid monsters).</p>
                </div>
                <ul class="actions">
                  <div class="actions-wrapper">
                    <li><a href="https://rammazzoti2000.github.io/js_capstone_rpg/" class="button project-button" target="_blank" rel="noopener noreferrer">View Demo</a></li>
                    <li><a href="https://github.com/rammazzoti2000/js_capstone_rpg" class="button project-button brands" target="_blank" rel="noopener noreferrer"><i class="fa fa-github icon"></i>View Source</a></li>
                  </div>
                  <div class="languages">
                    <i class="fab fa-facebook technology"></i>
                    <i class="devicon-webpack-plain technology"></i>
                  </div>
                </ul>
              </div>
            </article>
          </div>
          <div class="article-wrapper">
            <article class="col-12 col-12-xsmall work-item">
              <a href="https://github.com/rammazzoti2000/ror-capstone-lifestyle" class="image fit thumb" target="_blank" rel="noopener noreferrer"><img src="images/thumbs/01.jpg" alt="ror-capstone-lifestyle" /></a>
              <div class="art-description">
                <div class="text-wrapper">
                  <h3>LifeOpedia! WebApp</h3>
                  <p>Webapp where users can publish lifestyle articles, bookmark favourite articles, leave comments and upvote an article.</p>
                </div>
                <ul class="actions">
                  <div class="actions-wrapper">
                    <li><a href="https://ror-capstone-lifeopedia.herokuapp.com/" class="button project-button" target="_blank" rel="noopener noreferrer">View Demo</a></li>
                    <li><a href="https://github.com/rammazzoti2000/ror-capstone-lifestyle" class="button project-button brands" target="_blank" rel="noopener noreferrer"><i class="fa fa-github icon"></i>View Source</a></li>
                  </div>
                  <div class="languages">
                    <i class="devicon-rails-plain-wordmark technology"></i>
                    <i class="devicon-sass-original technology"></i>
                  </div>
                </ul>
              </div>
            </article>
          </div>
          <div class="article-wrapper">
            <article class="col-12 col-12-xsmall work-item">
              <a href="https://github.com/rammazzoti2000/tic-toc-toe" class="image fit thumb" target="_blank" rel="noopener noreferrer"><img src="images/thumbs/02.jpg" alt="tic-toc-toe" /></a>
              <div class="art-description">
                <div class="text-wrapper">
                  <h3>Tic Tac Toe Terminal App</h3>
                  <p>Customized version of the well known two player <a href="https://en.wikipedia.org/wiki/Tic-tac-toe" target="_blank" rel="noopener noreferrer">Tic Tac Toe</a> game built in Ruby and played directly from a console or terminal.</p>
                </div>
                <ul class="actions">
                  <div class="actions-wrapper">
                    <li><a href="https://tic-toc-toe.rammazzoti2000.repl.run/" class="button project-button" target="_blank" rel="noopener noreferrer">View Demo</a></li>
                    <li><a href="https://github.com/rammazzoti2000/tic-toc-toe" class="button project-button brands" target="_blank" rel="noopener noreferrer"><i class="fa fa-github icon"></i>View Source</a></li>
                  </div>
                  <div class="languages">
                    <i class="devicon-ruby-plain-wordmark technology"></i>
                  </div>
                </ul>
              </div>
            </article>
          </div>
          <div class="article-wrapper">
            <article class="col-12 col-12-xsmall work-item">
              <a href="https://github.com/rammazzoti2000/HTML-CSS-capstone-project" class="image fit thumb" target="_blank" rel="noopener noreferrer"><img src="images/thumbs/03.jpg" alt="HTML-CSS-capstone-project" /></a>
              <div class="art-description">
                <div class="text-wrapper">
                  <h3>PETFinder WebApp</h3>
                  <p>Webapp to lookup for shelters and find a new pet-pal. It has a search function (to be implemented) able to look up all over Europe.</p>
                </div>
                <ul class="actions">
                  <div class="actions-wrapper">
                    <li><a href="https://rammazzoti2000.github.io/HTML-CSS-capstone-project/" class="button project-button" target="_blank" rel="noopener noreferrer">View Demo</a></li>
                    <li><a href="https://github.com/rammazzoti2000/HTML-CSS-capstone-project" class="button project-button brands" target="_blank" rel="noopener noreferrer"><i class="fa fa-github icon"></i>View Source</a></li>
                  </div>
                  <div class="languages">
                    <i class="devicon-html5-plain-wordmark technology"></i>
                    <i class="devicon-less-plain-wordmark technology"></i>
                  </div>
                </ul>
              </div>
            </article>
          </div>
          <div class="article-wrapper">
            <article class="col-12 col-12-xsmall work-item">
              <a href="https://github.com/rammazzoti2000/Using-Bootstrap" class="image fit thumb" target="_blank" rel="noopener noreferrer"><img src="images/thumbs/04.jpg" alt="Using-Bootstrap" /></a>
              <div class="art-description">
                <div class="text-wrapper">
                  <h3>NewsWeek Replica</h3>
                  <p>NewsWeek website replica built mainly with bootstrap. This project is part of <a href="https://www.microverse.org/#world-class-curriculum" target="_blank" rel="noopener noreferrer">Microverse</a> curriculum with the purpose to learn and achieve mastery on the <a href="https://getbootstrap.com/" target="_blank" rel="noopener noreferrer">Bootstrap</a> framework.</p>
                </div>
                <ul class="actions">
                  <div class="actions-wrapper">
                    <li><a href="https://rammazzoti2000.github.io/Using-Bootstrap/" class="button project-button" target="_blank" rel="noopener noreferrer">View Demo</a></li>
                    <li><a href="https://github.com/rammazzoti2000/Using-Bootstrap" class="button project-button brands" target="_blank" rel="noopener noreferrer"><i class="fa fa-github icon"></i>View Source</a></li>
                  </div>
                  <div class="languages">
                    <i class="devicon-html5-plain-wordmark technology"></i>
                    <i class="devicon-bootstrap-plain-wordmark technology"></i>
                  </div>
                </ul>
              </div>
            </article>
          </div> -->
          <!-- <div class="projects-button">
          <ul class="actions">
            <li class="wide-button"><a href="https://github.com/rammazzoti2000" class="button portfolio-button" target="_blank" rel="noopener noreferrer">Full Portfolio</a></li>
          </ul>
        </div>
        </div>
      </div>
    </div>
</section>
 
</div> -->




