{{ $sectionID := replace (lower .section.name) " " "-"  }}
{{ if .section.id }}
{{ $sectionID = .section.id }}
{{ end }}

<div class="container-fluid anchor pb-5 publications-section" id="{{ $sectionID }}">
    {{ if not (.section.hideTitle) }}
    <h1 class="text-center">{{ .section.name }}</h1>
    {{ end }}

    <div class="container">
        <table class="publications-info-table">
            <tbody>
                {{ range .publications}}
                <tr>
                    <td class="details">
                        <div class="degree-info card">
                            {{ if .url }}
                                <h5><a href="{{ .url }}" target="_blank" rel="noopener noreferrer">{{ .title }}</a></h5>
                            {{ else }}
                                <h5>{{ .title }}</h5>
                            {{ end }}
                            <h6>{{ .info }}</h6>
                        </div>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
    <div class="portfolioRow row justify-content-center">
          <div class="col align-items-center"><a href="https://scholar.google.com/citations?hl=en&user=steUW5EAAAAJ" class="button portfolio-button" target="_blank" rel="noopener noreferrer">Google Scholar Profile</a></li>
      </div>
    </div>
</div>