{{ $sectionID := replace (lower .section.name) " " "-"  }}
{{ if .section.id }}
{{ $sectionID = .section.id }}
{{ end }}

<div class="container-fluid anchor pb-5 research-section" id="{{ $sectionID }}">
    {{ if not (.section.hideTitle) }}
    <h1 class="text-center">{{ .section.name }}</h1>
    {{ end }}

    <div class="container">
        <table class="research-info-table">
            <tbody>
                {{ range .research}}
                <tr>
                    <td class="icon">
                        <div class="hline"></div>
                        <div class="icon-holder">
                            <i class="fas {{ .icon }}"></i>
                        </div>
                    </td>
                    <td class="line">
                        <div></div>
                    </td>
                    <td class="details">
                        <div class="degree-info card">
                            <div class="row">
                                <div class="col-lg-9 col-md-7">
                                    <h5>{{ .name }}</h5>   
                                </div>
                                <div class="timeframe col-lg-3 col-md-5">{{ .timeframe }}</div>
                            </div>
                            <!-- {{ if .institution.url }}
                                <h6><a href="{{ .institution.url }}">{{ .institution.name }}</a></h6>
                            {{ else }}
                                <h6>{{ .institution.name }}</h6>
                            {{ end }} -->
                            {{ if .description }}
                                <div class="description">
                                    <h6>{{ .description }}</h6>
                                </div>
                            {{ end }}
                            {{ if .details }}
                                <input type="button" class="btn btn-info viewMoreButton" id="viewMoreButton{{ .index}}" type="button" data-toggle="collapse" data-target="#collapseExample{{ .index }}" aria-expanded="false" aria-controls="collapseExample{{ .index }}" value="View Details" onclick="change('{{.index}}')"></input>

                            <div class="details collapse" id="collapseExample{{ .index }}">
                                <ul>
                                {{ range .details }}
                                    <li>{{ . }}</li>
                                {{ end }}
                                </ul>
                            </div>

                            <script>
                                function change(index)
                                {
                                    var elem = document.getElementById("viewMoreButton"+index);
                                    if (elem.value=="View Details"){
                                        elem.value = "Hide Details";
                                    }
                                    else{
                                        elem.value = "View Details";
                                    }
                                }
                            </script>
                            {{ end }}
                        </div>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>