{{ $sectionID := replace (lower .section.name) " " "-"  }}
{{ if .section.id }}
  {{ $sectionID = .section.id }}
{{ end }}

<div class="container-fluid anchor pb-5 skills-section" id="{{ $sectionID }}">
  {{ if not (.section.hideTitle) }}
    <h1 class="text-center">{{ .section.name }}</h1>
  {{ end }}
  <div class="container d-flex-block">
    <div class="row justify-content-center skillsRow">
      {{ range .categories }}
      <div class="col-lg-5 skillsCol">
        <h4 class="text-center">{{ .category }}</h4>
        <div class="row justify-content-center" id="primary-skills">
        <!-- <div class="card-deck"> -->
        {{ range .skills }}
        {{ partial "cards/skill.html" . }}
        {{ end }}
        <!-- </div> -->
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
